#div-radios{max-width: 980px; min-height: 62px; color: #e6e9fad1;}
#active{border-bottom: #8f0606 3.5px solid; color: #f55959; padding-bottom: 16px;}
#nav-radios {border-bottom: #3332 3.5px solid; padding-bottom: 10px; }
#ul{margin-top: 33px;}
