ul.grid-gallery{grid-template-columns: repeat(auto-fit, minmax(250px, 301px));  width: auto;}

.gli:first-child{grid-row: span 2;}
.gli:first-child .gallery-item{min-height: 320px;}

.grid-span-2{grid-row: span 2;}
.grid-span-2 .gallery-item{ min-height: 350px;}

.gallery-item{
  background-color: rgb(63, 59, 59);
  min-width: 200px;
  max-width: 300px;
  height: 150px;
}

/* #gli:nth-child(5n) .gallery-item{ height: 300px;} */
/* #gli:nth-child(5n){ grid-row: span 3;} */

/* ul.grid > #gli:nth-child(1){display: grid; grid-template-rows: 1fr; color: #000;} */
/* ul.grid > #gli:nth-child(2){display: grid; grid-template-rows:  200px; color: #000;} */
/* ul.grid > #gli:nth-child(1){display: grid; grid-template-rows: 200px; color: #000;} */