/* ul.grid > #gli:nth-child(1) .gallery-item{max-width: auto; min-height: 300px;} */
/* ul.grid > #gli:nth-child(2n){margin-top: 1rem;} */
ul.grid{grid-template-columns: repeat(auto-fit, minmax(250px, 301px));  width: auto;}
ul.grid > #gli:first-child{grid-row: 1 / 3;}
ul.grid > #gli:first-child .gallery-item{max-width: auto; min-height: 300px;}

/* ul.grid > #gli:nth-child(1){display: grid; grid-template-rows: 1fr; color: #000;} */
/* ul.grid > #gli:nth-child(2){display: grid; grid-template-rows:  200px; color: #000;} */
/* ul.grid > #gli:nth-child(1){display: grid; grid-template-rows: 200px; color: #000;} */