img{max-width: 100%;}

/* #nav{background-color: #1e1926;} */
#nav{background-color: #1e1926da; backdrop-filter: blur(5px);}

.blog-btn{
  /* background-color: #3d0000;
  color: #ff5c5c;
  border: solid #6b0000 1px; */
  
  /* background-color: #0f3912;
  color: #20f924;
  border: solid #007a08 1px; */

  background-color: #0f392d;
  color: #20f9d0;
  border: solid #007a52 1px;
  box-shadow: 0 0px 22px 3px #004d49;

  transition: all .2s;
  border-radius: 4px;
  font-weight: bold;
  margin-left: 8px;
  padding: 8px;
}
.blog-btn:is(:hover, :active){
  background-color: #11503e;
}

.home-btn{
  background-color: #4109d9;
  box-shadow: 0 0px 22px 3px #2400d0;

  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  margin-left: 8px;
  padding-block: 10.5px;
  padding-inline: 15px;
  border: #4109d9 solid 1px;
  transition: all .18s ease-in-out;
}
.home-btn:is(:hover, :active){
  background-color: #150347;
}

.default-btn{
  background-color: #930000;
  box-shadow: 0 0px 22px 3px #004d49;

  color: #fff;
  border: solid #6b0000 1px;
  border-radius: 50px;
  font-weight: bold;
  margin-left: 8px;
  padding: 7.5px;
  padding-inline: 27px;
  transition: all .18s ease-in-out;
}
.default-btn:is(:hover, :active){
  background-color: #7e010144;
  color: #ff5c5c;
}

.left-btn{display: none;}

.btn-mobile{
  font-size: 3rem;
  color: bisque;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}
.mob-btn{display: none;}
.extra{display: none;}

.menu{color: #fff;}

.logo{filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;}

@media (max-width: 740px) {
  /* NAVBAR */
  .extra{display: block;}
  .home-btn, .blog-btn, .default-btn{display: none;}
  .left-btn{display: block; margin: 0; margin-right: 16px;}
  .left-btn:is(:hover, :active){background-color: currentColor+1; }
  .mob-btn{
    display: block;
    background-color: #3d0000;
    border: solid #6b0000 1px;
    color: #ff5c5c;
    margin-right: 16px;
    padding: 7px;
    border-radius: 4px;
    font-weight: bold;
  }

  /* MENU-MOBILE */
  
  #nav div ul{
    display: flex;
    background-image: linear-gradient(140deg, #1d075fe5 30%, #1f143041 100%);
    color: #83ffc5;
    flex-direction: column;
    position: fixed;
    padding: 10px;
    width: 100%;
    height: 0px;
    top: 65px;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    overflow: hidden;
  }
  
  #nav.active ul{
    visibility: visible;
    overflow: auto;
    overflow-x: hidden;
    height: auto;
  }
  
  #nav ul li{
    display: block;
    width: 100%;
    border-radius: 5px;
    line-height:30px;
    
  }

  /* NAV-MOB-TEXT */

  #nav ul li:hover {
    background-color: #1504469c;
  }
  
  #nav ul li a{
    display: flex;
    padding: 10px;
    font-size: 20px;
  }

  a:hover, a:active{
    color: aqua;
    text-decoration: underline;
  }

  /* HAMBURGER */

  .btn-mobile{
    display: flex;
  }

  span.hamburger{
    border-top: 4px solid;
    width: 2rem;
  }

  .hamburger::after, .hamburger::before{
    content: '';
    display: block;
    border-top: 4px solid;
    width: 2rem;
    height: 2px;
    margin-top: 5px;
    background-color: #fff;
    transition: .2s;
    position: relative;
  }

  #nav.active .hamburger {
    border-top-color: transparent;
  }

  #nav.active .hamburger::before {rotate: 135deg;}
  #nav.active .hamburger::after {rotate: -135deg; top: -9px;}

}

@media (max-width: 380px) {.log-in-mob{display: none;}}

@media (max-width: 300px) {.mob-btn{display: none;}}